= render "/shared/top"
#board_name
  = link_to @item.title, section_board_path(@item.sid, @item)
.add_thread
  = link_to t("threads.title.new"), new_section_board_thread_path(@item.sid, @item)
/ #threads_list
/   - @item.threads.each do |thread|
/     %p.item
/       %label.item= link_to thread.title, 'section_board_path'
/       %label.link-icon-text.silk_pencil.fl.link-icon-text.silk_pencil.fl= link_to t("boards.title.edit"), edit_section_board_path(@item)
/       %label.link-icon-text.silk_delete.fl= link_to t("boards.title.destroy"), section_board_path(@item), :confirm => t("common.messages.are_you_sure"), :method => :delete
/       .cc
