
.link-icon, .link-icon-text {
	background-color: transparent;
	background-image: image-url('silk-icons.png');
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	line-height: 16px;

	text-decoration: none;
	white-space: nowrap;

	&:hover {
		background-color: transparent;
		text-decoration: none;
	}
}

.link-icon {
	width: 16px;
}

.link-icon-text {
	padding: 2px 0 0 18px;
	color: #4B7399 !important;
	&:hover {
		text-decoration: underline;
	}
}

.silk_accept { background-position: 0px 0px; }
.silk_add { background-position: 0px -19px; }
.silk_anchor { background-position: 0px -37px; }
.silk_application { background-position: 0px -55px; }
.silk_application_add { background-position: 0px -73px; }
.silk_application_cascade { background-position: 0px -91px; }
.silk_application_delete { background-position: 0px -109px; }
.silk_application_double { background-position: 0px -127px; }
.silk_application_edit { background-position: 0px -145px; }
.silk_application_error { background-position: 0px -163px; }
.silk_application_form { background-position: 0px -181px; }
.silk_application_form_add { background-position: 0px -199px; }
.silk_application_form_delete { background-position: 0px -217px; }
.silk_application_form_edit { background-position: 0px -235px; }
.silk_application_form_magnify { background-position: 0px -253px; }
.silk_application_get { background-position: 0px -271px; }
.silk_application_go { background-position: 0px -289px; }
.silk_application_home { background-position: 0px -307px; }
.silk_application_key { background-position: 0px -325px; }
.silk_application_lightning { background-position: 0px -343px; }
.silk_application_link { background-position: 0px -361px; }
.silk_application_osx { background-position: 0px -379px; }
.silk_application_osx_terminal { background-position: 0px -397px; }
.silk_application_put { background-position: 0px -415px; }
.silk_application_side_boxes { background-position: 0px -433px; }
.silk_application_side_contract { background-position: 0px -451px; }
.silk_application_side_expand { background-position: 0px -469px; }
.silk_application_side_list { background-position: 0px -487px; }
.silk_application_side_tree { background-position: 0px -505px; }
.silk_application_split { background-position: 0px -523px; }
.silk_application_tile_horizontal { background-position: 0px -541px; }
.silk_application_tile_vertical { background-position: 0px -559px; }
.silk_application_view_columns { background-position: 0px -577px; }
.silk_application_view_detail { background-position: 0px -595px; }
.silk_application_view_gallery { background-position: 0px -613px; }
.silk_application_view_icons { background-position: 0px -631px; }
.silk_application_view_list { background-position: 0px -649px; }
.silk_application_view_tile { background-position: 0px -667px; }
.silk_application_xp { background-position: 0px -685px; }
.silk_application_xp_terminal { background-position: 0px -703px; }
.silk_arrow_branch { background-position: 0px -721px; }
.silk_arrow_divide { background-position: 0px -739px; }
.silk_arrow_down { background-position: 0px -757px; }
.silk_arrow_in { background-position: 0px -775px; }
.silk_arrow_inout { background-position: 0px -793px; }
.silk_arrow_join { background-position: 0px -811px; }
.silk_arrow_left { background-position: 0px -829px; }
.silk_arrow_merge { background-position: 0px -847px; }
.silk_arrow_out { background-position: 0px -865px; }
.silk_arrow_redo { background-position: 0px -883px; }
.silk_arrow_refresh { background-position: 0px -901px; }
.silk_arrow_refresh_small { background-position: 0px -919px; }
.silk_arrow_right { background-position: 0px -937px; }
.silk_arrow_rotate_anticlockwise { background-position: 0px -955px; }
.silk_arrow_rotate_clockwise { background-position: 0px -973px; }
.silk_arrow_switch { background-position: 0px -991px; }
.silk_arrow_turn_left { background-position: 0px -1009px; }
.silk_arrow_turn_right { background-position: 0px -1027px; }
.silk_arrow_undo { background-position: 0px -1045px; }
.silk_arrow_up { background-position: 0px -1063px; }
.silk_asterisk_orange { background-position: 0px -1081px; }
.silk_asterisk_yellow { background-position: 0px -1099px; }
.silk_attach { background-position: 0px -1117px; }
.silk_award_star_add { background-position: 0px -1135px; }
.silk_award_star_bronze_1 { background-position: 0px -1153px; }
.silk_award_star_bronze_2 { background-position: 0px -1171px; }
.silk_award_star_bronze_3 { background-position: 0px -1189px; }
.silk_award_star_delete { background-position: 0px -1207px; }
.silk_award_star_gold_1 { background-position: 0px -1225px; }
.silk_award_star_gold_2 { background-position: 0px -1243px; }
.silk_award_star_gold_3 { background-position: 0px -1261px; }
.silk_award_star_silver_1 { background-position: 0px -1279px; }
.silk_award_star_silver_2 { background-position: 0px -1297px; }
.silk_award_star_silver_3 { background-position: 0px -1315px; }
.silk_basket { background-position: 0px -1333px; }
.silk_basket_add { background-position: 0px -1351px; }
.silk_basket_delete { background-position: 0px -1369px; }
.silk_basket_edit { background-position: 0px -1387px; }
.silk_basket_error { background-position: 0px -1405px; }
.silk_basket_go { background-position: 0px -1423px; }
.silk_basket_put { background-position: 0px -1441px; }
.silk_basket_remove { background-position: 0px -1459px; }
.silk_bell { background-position: 0px -1477px; }
.silk_bell_add { background-position: 0px -1495px; }
.silk_bell_delete { background-position: 0px -1513px; }
.silk_bell_error { background-position: 0px -1531px; }
.silk_bell_go { background-position: 0px -1549px; }
.silk_bell_link { background-position: 0px -1567px; }
.silk_bin { background-position: 0px -1585px; }
.silk_bin_closed { background-position: 0px -1603px; }
.silk_bin_empty { background-position: 0px -1621px; }
.silk_bomb { background-position: 0px -1639px; }
.silk_book { background-position: 0px -1657px; }
.silk_book_add { background-position: 0px -1675px; }
.silk_book_addresses { background-position: 0px -1693px; }
.silk_book_delete { background-position: 0px -1711px; }
.silk_book_edit { background-position: 0px -1729px; }
.silk_book_error { background-position: 0px -1747px; }
.silk_book_go { background-position: 0px -1765px; }
.silk_book_key { background-position: 0px -1783px; }
.silk_book_link { background-position: 0px -1801px; }
.silk_book_next { background-position: 0px -1819px; }
.silk_book_open { background-position: 0px -1837px; }
.silk_book_previous { background-position: 0px -1855px; }
.silk_box { background-position: 0px -1873px; }
.silk_brick { background-position: 0px -1891px; }
.silk_brick_add { background-position: 0px -1909px; }
.silk_brick_delete { background-position: 0px -1927px; }
.silk_brick_edit { background-position: 0px -1945px; }
.silk_brick_error { background-position: 0px -1963px; }
.silk_brick_go { background-position: 0px -1981px; }
.silk_brick_link { background-position: 0px -1999px; }
.silk_bricks { background-position: 0px -2017px; }
.silk_briefcase { background-position: 0px -2035px; }
.silk_bug { background-position: 0px -2053px; }
.silk_bug_add { background-position: 0px -2071px; }
.silk_bug_delete { background-position: 0px -2089px; }
.silk_bug_edit { background-position: 0px -2107px; }
.silk_bug_error { background-position: 0px -2125px; }
.silk_bug_go { background-position: 0px -2143px; }
.silk_bug_link { background-position: 0px -2161px; }
.silk_building { background-position: 0px -2179px; }
.silk_building_add { background-position: 0px -2197px; }
.silk_building_delete { background-position: 0px -2215px; }
.silk_building_edit { background-position: 0px -2233px; }
.silk_building_error { background-position: 0px -2251px; }
.silk_building_go { background-position: 0px -2269px; }
.silk_building_key { background-position: 0px -2287px; }
.silk_building_link { background-position: 0px -2305px; }
.silk_bullet_add { background-position: 0px -2323px; }
.silk_bullet_arrow_bottom { background-position: 0px -2341px; }
.silk_bullet_arrow_down { background-position: 0px -2359px; }
.silk_bullet_arrow_top { background-position: 0px -2377px; }
.silk_bullet_arrow_up { background-position: 0px -2395px; }
.silk_bullet_black { background-position: 0px -2413px; }
.silk_bullet_blue { background-position: 0px -2431px; }
.silk_bullet_delete { background-position: 0px -2449px; }
.silk_bullet_disk { background-position: 0px -2467px; }
.silk_bullet_error { background-position: 0px -2485px; }
.silk_bullet_feed { background-position: 0px -2503px; }
.silk_bullet_go { background-position: 0px -2521px; }
.silk_bullet_green { background-position: 0px -2539px; }
.silk_bullet_key { background-position: 0px -2557px; }
.silk_bullet_orange { background-position: 0px -2575px; }
.silk_bullet_picture { background-position: 0px -2593px; }
.silk_bullet_pink { background-position: 0px -2611px; }
.silk_bullet_purple { background-position: 0px -2629px; }
.silk_bullet_red { background-position: 0px -2647px; }
.silk_bullet_star { background-position: 0px -2665px; }
.silk_bullet_toggle_minus { background-position: 0px -2683px; }
.silk_bullet_toggle_plus { background-position: 0px -2701px; }
.silk_bullet_white { background-position: 0px -2719px; }
.silk_bullet_wrench { background-position: 0px -2737px; }
.silk_bullet_yellow { background-position: 0px -2755px; }
.silk_cake { background-position: 0px -2773px; }
.silk_calculator { background-position: 0px -2791px; }
.silk_calculator_add { background-position: 0px -2809px; }
.silk_calculator_delete { background-position: 0px -2827px; }
.silk_calculator_edit { background-position: 0px -2845px; }
.silk_calculator_error { background-position: 0px -2863px; }
.silk_calculator_link { background-position: 0px -2881px; }
.silk_calendar { background-position: 0px -2899px; }
.silk_calendar_add { background-position: 0px -2917px; }
.silk_calendar_delete { background-position: 0px -2935px; }
.silk_calendar_edit { background-position: 0px -2953px; }
.silk_calendar_link { background-position: 0px -2971px; }
.silk_calendar_view_day { background-position: 0px -2989px; }
.silk_calendar_view_month { background-position: 0px -3007px; }
.silk_calendar_view_week { background-position: 0px -3025px; }
.silk_camera { background-position: 0px -3043px; }
.silk_camera_add { background-position: 0px -3061px; }
.silk_camera_delete { background-position: 0px -3079px; }
.silk_camera_edit { background-position: 0px -3097px; }
.silk_camera_error { background-position: 0px -3115px; }
.silk_camera_go { background-position: 0px -3133px; }
.silk_camera_link { background-position: 0px -3151px; }
.silk_camera_small { background-position: 0px -3169px; }
.silk_cancel { background-position: 0px -3187px; }
.silk_car { background-position: 0px -3205px; }
.silk_car_add { background-position: 0px -3223px; }
.silk_car_delete { background-position: 0px -3241px; }
.silk_cart { background-position: 0px -3259px; }
.silk_cart_add { background-position: 0px -3277px; }
.silk_cart_delete { background-position: 0px -3295px; }
.silk_cart_edit { background-position: 0px -3313px; }
.silk_cart_error { background-position: 0px -3331px; }
.silk_cart_go { background-position: 0px -3349px; }
.silk_cart_put { background-position: 0px -3367px; }
.silk_cart_remove { background-position: 0px -3385px; }
.silk_cd { background-position: 0px -3403px; }
.silk_cd_add { background-position: 0px -3421px; }
.silk_cd_burn { background-position: 0px -3439px; }
.silk_cd_delete { background-position: 0px -3457px; }
.silk_cd_edit { background-position: 0px -3475px; }
.silk_cd_eject { background-position: 0px -3493px; }
.silk_cd_go { background-position: 0px -3511px; }
.silk_chart_bar { background-position: 0px -3529px; }
.silk_chart_bar_add { background-position: 0px -3547px; }
.silk_chart_bar_delete { background-position: 0px -3565px; }
.silk_chart_bar_edit { background-position: 0px -3583px; }
.silk_chart_bar_error { background-position: 0px -3601px; }
.silk_chart_bar_link { background-position: 0px -3619px; }
.silk_chart_curve { background-position: 0px -3637px; }
.silk_chart_curve_add { background-position: 0px -3655px; }
.silk_chart_curve_delete { background-position: 0px -3673px; }
.silk_chart_curve_edit { background-position: 0px -3691px; }
.silk_chart_curve_error { background-position: 0px -3709px; }
.silk_chart_curve_go { background-position: 0px -3727px; }
.silk_chart_curve_link { background-position: 0px -3745px; }
.silk_chart_line { background-position: 0px -3763px; }
.silk_chart_line_add { background-position: 0px -3781px; }
.silk_chart_line_delete { background-position: 0px -3799px; }
.silk_chart_line_edit { background-position: 0px -3817px; }
.silk_chart_line_error { background-position: 0px -3835px; }
.silk_chart_line_link { background-position: 0px -3853px; }
.silk_chart_organisation { background-position: 0px -3871px; }
.silk_chart_organisation_add { background-position: 0px -3889px; }
.silk_chart_organisation_delete { background-position: 0px -3907px; }
.silk_chart_pie { background-position: 0px -3925px; }
.silk_chart_pie_add { background-position: 0px -3943px; }
.silk_chart_pie_delete { background-position: 0px -3961px; }
.silk_chart_pie_edit { background-position: 0px -3979px; }
.silk_chart_pie_error { background-position: 0px -3997px; }
.silk_chart_pie_link { background-position: 0px -4015px; }
.silk_clock { background-position: 0px -4033px; }
.silk_clock_add { background-position: 0px -4051px; }
.silk_clock_delete { background-position: 0px -4069px; }
.silk_clock_edit { background-position: 0px -4087px; }
.silk_clock_error { background-position: 0px -4105px; }
.silk_clock_go { background-position: 0px -4123px; }
.silk_clock_link { background-position: 0px -4141px; }
.silk_clock_pause { background-position: 0px -4159px; }
.silk_clock_play { background-position: 0px -4177px; }
.silk_clock_red { background-position: 0px -4195px; }
.silk_clock_stop { background-position: 0px -4213px; }
.silk_cog { background-position: 0px -4231px; }
.silk_cog_add { background-position: 0px -4249px; }
.silk_cog_delete { background-position: 0px -4267px; }
.silk_cog_edit { background-position: 0px -4285px; }
.silk_cog_error { background-position: 0px -4303px; }
.silk_cog_go { background-position: 0px -4321px; }
.silk_coins { background-position: 0px -4339px; }
.silk_coins_add { background-position: 0px -4357px; }
.silk_coins_delete { background-position: 0px -4375px; }
.silk_color_swatch { background-position: 0px -4393px; }
.silk_color_wheel { background-position: 0px -4411px; }
.silk_comment { background-position: 0px -4429px; }
.silk_comment_add { background-position: 0px -4447px; }
.silk_comment_delete { background-position: 0px -4465px; }
.silk_comment_edit { background-position: 0px -4483px; }
.silk_comments { background-position: 0px -4501px; }
.silk_comments_add { background-position: 0px -4519px; }
.silk_comments_delete { background-position: 0px -4537px; }
.silk_compress { background-position: 0px -4555px; }
.silk_computer { background-position: 0px -4573px; }
.silk_computer_add { background-position: 0px -4591px; }
.silk_computer_delete { background-position: 0px -4609px; }
.silk_computer_edit { background-position: 0px -4627px; }
.silk_computer_error { background-position: 0px -4645px; }
.silk_computer_go { background-position: 0px -4663px; }
.silk_computer_key { background-position: 0px -4681px; }
.silk_computer_link { background-position: 0px -4699px; }
.silk_connect { background-position: 0px -4717px; }
.silk_contrast { background-position: 0px -4735px; }
.silk_contrast_decrease { background-position: 0px -4753px; }
.silk_contrast_high { background-position: 0px -4771px; }
.silk_contrast_increase { background-position: 0px -4789px; }
.silk_contrast_low { background-position: 0px -4807px; }
.silk_control_eject { background-position: 0px -4825px; }
.silk_control_eject_blue { background-position: 0px -4843px; }
.silk_control_end { background-position: 0px -4861px; }
.silk_control_end_blue { background-position: 0px -4879px; }
.silk_control_equalizer { background-position: 0px -4897px; }
.silk_control_equalizer_blue { background-position: 0px -4915px; }
.silk_control_fastforward { background-position: 0px -4933px; }
.silk_control_fastforward_blue { background-position: 0px -4951px; }
.silk_control_pause { background-position: 0px -4969px; }
.silk_control_pause_blue { background-position: 0px -4987px; }
.silk_control_play { background-position: 0px -5005px; }
.silk_control_play_blue { background-position: 0px -5023px; }
.silk_control_repeat { background-position: 0px -5041px; }
.silk_control_repeat_blue { background-position: 0px -5059px; }
.silk_control_rewind { background-position: 0px -5077px; }
.silk_control_rewind_blue { background-position: 0px -5095px; }
.silk_control_start { background-position: 0px -5113px; }
.silk_control_start_blue { background-position: 0px -5131px; }
.silk_control_stop { background-position: 0px -5149px; }
.silk_control_stop_blue { background-position: 0px -5167px; }
.silk_controller { background-position: 0px -5185px; }
.silk_controller_add { background-position: 0px -5203px; }
.silk_controller_delete { background-position: 0px -5221px; }
.silk_controller_error { background-position: 0px -5239px; }
.silk_creditcards { background-position: 0px -5257px; }
.silk_cross { background-position: 0px -5275px; }
.silk_css { background-position: 0px -5293px; }
.silk_css_add { background-position: 0px -5311px; }
.silk_css_delete { background-position: 0px -5329px; }
.silk_css_go { background-position: 0px -5347px; }
.silk_css_valid { background-position: 0px -5365px; }
.silk_cup { background-position: 0px -5383px; }
.silk_cup_add { background-position: 0px -5401px; }
.silk_cup_delete { background-position: 0px -5419px; }
.silk_cup_edit { background-position: 0px -5437px; }
.silk_cup_error { background-position: 0px -5455px; }
.silk_cup_go { background-position: 0px -5473px; }
.silk_cup_key { background-position: 0px -5491px; }
.silk_cup_link { background-position: 0px -5509px; }
.silk_cursor { background-position: 0px -5527px; }
.silk_cut { background-position: 0px -5545px; }
.silk_cut_red { background-position: 0px -5563px; }
.silk_database { background-position: 0px -5581px; }
.silk_database_add { background-position: 0px -5599px; }
.silk_database_connect { background-position: 0px -5617px; }
.silk_database_delete { background-position: 0px -5635px; }
.silk_database_edit { background-position: 0px -5653px; }
.silk_database_error { background-position: 0px -5671px; }
.silk_database_gear { background-position: 0px -5689px; }
.silk_database_go { background-position: 0px -5707px; }
.silk_database_key { background-position: 0px -5725px; }
.silk_database_lightning { background-position: 0px -5743px; }
.silk_database_link { background-position: 0px -5761px; }
.silk_database_refresh { background-position: 0px -5779px; }
.silk_database_save { background-position: 0px -5797px; }
.silk_database_table { background-position: 0px -5815px; }
.silk_date { background-position: 0px -5833px; }
.silk_date_add { background-position: 0px -5851px; }
.silk_date_delete { background-position: 0px -5869px; }
.silk_date_edit { background-position: 0px -5887px; }
.silk_date_error { background-position: 0px -5905px; }
.silk_date_go { background-position: 0px -5923px; }
.silk_date_link { background-position: 0px -5941px; }
.silk_date_magnify { background-position: 0px -5959px; }
.silk_date_next { background-position: 0px -5977px; }
.silk_date_previous { background-position: 0px -5995px; }
.silk_delete { background-position: 0px -6013px; }
.silk_disconnect { background-position: 0px -6031px; }
.silk_disk { background-position: 0px -6049px; }
.silk_disk_multiple { background-position: 0px -6067px; }
.silk_door { background-position: 0px -6085px; }
.silk_door_in { background-position: 0px -6103px; }
.silk_door_open { background-position: 0px -6121px; }
.silk_door_out { background-position: 0px -6139px; }
.silk_drink { background-position: 0px -6157px; }
.silk_drink_empty { background-position: 0px -6175px; }
.silk_drive { background-position: 0px -6193px; }
.silk_drive_add { background-position: 0px -6211px; }
.silk_drive_burn { background-position: 0px -6229px; }
.silk_drive_cd { background-position: 0px -6247px; }
.silk_drive_cd_empty { background-position: 0px -6265px; }
.silk_drive_delete { background-position: 0px -6283px; }
.silk_drive_disk { background-position: 0px -6301px; }
.silk_drive_edit { background-position: 0px -6319px; }
.silk_drive_error { background-position: 0px -6337px; }
.silk_drive_go { background-position: 0px -6355px; }
.silk_drive_key { background-position: 0px -6373px; }
.silk_drive_link { background-position: 0px -6391px; }
.silk_drive_magnify { background-position: 0px -6409px; }
.silk_drive_network { background-position: 0px -6427px; }
.silk_drive_rename { background-position: 0px -6445px; }
.silk_drive_user { background-position: 0px -6463px; }
.silk_drive_web { background-position: 0px -6481px; }
.silk_dvd { background-position: 0px -6499px; }
.silk_dvd_add { background-position: 0px -6517px; }
.silk_dvd_delete { background-position: 0px -6535px; }
.silk_dvd_edit { background-position: 0px -6553px; }
.silk_dvd_error { background-position: 0px -6571px; }
.silk_dvd_go { background-position: 0px -6589px; }
.silk_dvd_key { background-position: 0px -6607px; }
.silk_dvd_link { background-position: 0px -6625px; }
.silk_email { background-position: 0px -6643px; }
.silk_email_add { background-position: 0px -6661px; }
.silk_email_attach { background-position: 0px -6679px; }
.silk_email_delete { background-position: 0px -6697px; }
.silk_email_edit { background-position: 0px -6715px; }
.silk_email_error { background-position: 0px -6733px; }
.silk_email_go { background-position: 0px -6751px; }
.silk_email_link { background-position: 0px -6769px; }
.silk_email_open { background-position: 0px -6787px; }
.silk_email_open_image { background-position: 0px -6805px; }
.silk_emoticon_evilgrin { background-position: 0px -6823px; }
.silk_emoticon_grin { background-position: 0px -6841px; }
.silk_emoticon_happy { background-position: 0px -6859px; }
.silk_emoticon_smile { background-position: 0px -6877px; }
.silk_emoticon_surprised { background-position: 0px -6895px; }
.silk_emoticon_tongue { background-position: 0px -6913px; }
.silk_emoticon_unhappy { background-position: 0px -6931px; }
.silk_emoticon_waii { background-position: 0px -6949px; }
.silk_emoticon_wink { background-position: 0px -6967px; }
.silk_error { background-position: 0px -6985px; }
.silk_error_add { background-position: 0px -7003px; }
.silk_error_delete { background-position: 0px -7021px; }
.silk_error_go { background-position: 0px -7039px; }
.silk_exclamation { background-position: 0px -7057px; }
.silk_eye { background-position: 0px -7075px; }
.silk_feed { background-position: 0px -7093px; }
.silk_feed_add { background-position: 0px -7111px; }
.silk_feed_delete { background-position: 0px -7129px; }
.silk_feed_disk { background-position: 0px -7147px; }
.silk_feed_edit { background-position: 0px -7165px; }
.silk_feed_error { background-position: 0px -7183px; }
.silk_feed_go { background-position: 0px -7201px; }
.silk_feed_key { background-position: 0px -7219px; }
.silk_feed_link { background-position: 0px -7237px; }
.silk_feed_magnify { background-position: 0px -7255px; }
.silk_female { background-position: 0px -7273px; }
.silk_film { background-position: 0px -7291px; }
.silk_film_add { background-position: 0px -7309px; }
.silk_film_delete { background-position: 0px -7327px; }
.silk_film_edit { background-position: 0px -7345px; }
.silk_film_error { background-position: 0px -7363px; }
.silk_film_go { background-position: 0px -7381px; }
.silk_film_key { background-position: 0px -7399px; }
.silk_film_link { background-position: 0px -7417px; }
.silk_film_save { background-position: 0px -7435px; }
.silk_find { background-position: 0px -7453px; }
.silk_flag_blue { background-position: 0px -7471px; }
.silk_flag_green { background-position: 0px -7489px; }
.silk_flag_orange { background-position: 0px -7507px; }
.silk_flag_pink { background-position: 0px -7525px; }
.silk_flag_purple { background-position: 0px -7543px; }
.silk_flag_red { background-position: 0px -7561px; }
.silk_flag_yellow { background-position: 0px -7579px; }
.silk_folder { background-position: 0px -7597px; }
.silk_folder_add { background-position: 0px -7615px; }
.silk_folder_bell { background-position: 0px -7633px; }
.silk_folder_brick { background-position: 0px -7651px; }
.silk_folder_bug { background-position: 0px -7669px; }
.silk_folder_camera { background-position: 0px -7687px; }
.silk_folder_database { background-position: 0px -7705px; }
.silk_folder_delete { background-position: 0px -7723px; }
.silk_folder_edit { background-position: 0px -7741px; }
.silk_folder_error { background-position: 0px -7759px; }
.silk_folder_explore { background-position: 0px -7777px; }
.silk_folder_feed { background-position: 0px -7795px; }
.silk_folder_find { background-position: 0px -7813px; }
.silk_folder_go { background-position: 0px -7831px; }
.silk_folder_heart { background-position: 0px -7849px; }
.silk_folder_image { background-position: 0px -7867px; }
.silk_folder_key { background-position: 0px -7885px; }
.silk_folder_lightbulb { background-position: 0px -7903px; }
.silk_folder_link { background-position: 0px -7921px; }
.silk_folder_magnify { background-position: 0px -7939px; }
.silk_folder_page { background-position: 0px -7957px; }
.silk_folder_page_white { background-position: 0px -7975px; }
.silk_folder_palette { background-position: 0px -7993px; }
.silk_folder_picture { background-position: 0px -8011px; }
.silk_folder_star { background-position: 0px -8029px; }
.silk_folder_table { background-position: 0px -8047px; }
.silk_folder_user { background-position: 0px -8065px; }
.silk_folder_wrench { background-position: 0px -8083px; }
.silk_font { background-position: 0px -8101px; }
.silk_font_add { background-position: 0px -8119px; }
.silk_font_delete { background-position: 0px -8137px; }
.silk_font_go { background-position: 0px -8155px; }
.silk_group { background-position: 0px -8173px; }
.silk_group_add { background-position: 0px -8191px; }
.silk_group_delete { background-position: 0px -8209px; }
.silk_group_edit { background-position: 0px -8227px; }
.silk_group_error { background-position: 0px -8245px; }
.silk_group_gear { background-position: 0px -8263px; }
.silk_group_go { background-position: 0px -8281px; }
.silk_group_key { background-position: 0px -8299px; }
.silk_group_link { background-position: 0px -8317px; }
.silk_heart { background-position: 0px -8335px; }
.silk_heart_add { background-position: 0px -8353px; }
.silk_heart_delete { background-position: 0px -8371px; }
.silk_help { background-position: 0px -8389px; }
.silk_hourglass { background-position: 0px -8407px; }
.silk_hourglass_add { background-position: 0px -8425px; }
.silk_hourglass_delete { background-position: 0px -8443px; }
.silk_hourglass_go { background-position: 0px -8461px; }
.silk_hourglass_link { background-position: 0px -8479px; }
.silk_house { background-position: 0px -8497px; }
.silk_house_go { background-position: 0px -8515px; }
.silk_house_link { background-position: 0px -8533px; }
.silk_html { background-position: 0px -8551px; }
.silk_html_add { background-position: 0px -8569px; }
.silk_html_delete { background-position: 0px -8587px; }
.silk_html_go { background-position: 0px -8605px; }
.silk_html_valid { background-position: 0px -8623px; }
.silk_image { background-position: 0px -8641px; }
.silk_image_add { background-position: 0px -8659px; }
.silk_image_delete { background-position: 0px -8677px; }
.silk_image_edit { background-position: 0px -8695px; }
.silk_image_link { background-position: 0px -8713px; }
.silk_images { background-position: 0px -8731px; }
.silk_information { background-position: 0px -8749px; }
.silk_ipod { background-position: 0px -8767px; }
.silk_ipod_cast { background-position: 0px -8785px; }
.silk_ipod_cast_add { background-position: 0px -8803px; }
.silk_ipod_cast_delete { background-position: 0px -8821px; }
.silk_ipod_sound { background-position: 0px -8839px; }
.silk_joystick { background-position: 0px -8857px; }
.silk_joystick_add { background-position: 0px -8875px; }
.silk_joystick_delete { background-position: 0px -8893px; }
.silk_joystick_error { background-position: 0px -8911px; }
.silk_key { background-position: 0px -8929px; }
.silk_key_add { background-position: 0px -8947px; }
.silk_key_delete { background-position: 0px -8965px; }
.silk_key_go { background-position: 0px -8983px; }
.silk_keyboard { background-position: 0px -9001px; }
.silk_keyboard_add { background-position: 0px -9019px; }
.silk_keyboard_delete { background-position: 0px -9037px; }
.silk_keyboard_magnify { background-position: 0px -9055px; }
.silk_layers { background-position: 0px -9073px; }
.silk_layout { background-position: 0px -9091px; }
.silk_layout_add { background-position: 0px -9109px; }
.silk_layout_content { background-position: 0px -9127px; }
.silk_layout_delete { background-position: 0px -9145px; }
.silk_layout_edit { background-position: 0px -9163px; }
.silk_layout_error { background-position: 0px -9181px; }
.silk_layout_header { background-position: 0px -9199px; }
.silk_layout_link { background-position: 0px -9217px; }
.silk_layout_sidebar { background-position: 0px -9235px; }
.silk_lightbulb { background-position: 0px -9253px; }
.silk_lightbulb_add { background-position: 0px -9271px; }
.silk_lightbulb_delete { background-position: 0px -9289px; }
.silk_lightbulb_off { background-position: 0px -9307px; }
.silk_lightning { background-position: 0px -9325px; }
.silk_lightning_add { background-position: 0px -9343px; }
.silk_lightning_delete { background-position: 0px -9361px; }
.silk_lightning_go { background-position: 0px -9379px; }
.silk_link { background-position: 0px -9397px; }
.silk_link_add { background-position: 0px -9415px; }
.silk_link_break { background-position: 0px -9433px; }
.silk_link_delete { background-position: 0px -9451px; }
.silk_link_edit { background-position: 0px -9469px; }
.silk_link_error { background-position: 0px -9487px; }
.silk_link_go { background-position: 0px -9505px; }
.silk_lock { background-position: 0px -9523px; }
.silk_lock_add { background-position: 0px -9541px; }
.silk_lock_break { background-position: 0px -9559px; }
.silk_lock_delete { background-position: 0px -9577px; }
.silk_lock_edit { background-position: 0px -9595px; }
.silk_lock_go { background-position: 0px -9613px; }
.silk_lock_open { background-position: 0px -9631px; }
.silk_lorry { background-position: 0px -9649px; }
.silk_lorry_add { background-position: 0px -9667px; }
.silk_lorry_delete { background-position: 0px -9685px; }
.silk_lorry_error { background-position: 0px -9703px; }
.silk_lorry_flatbed { background-position: 0px -9721px; }
.silk_lorry_go { background-position: 0px -9739px; }
.silk_lorry_link { background-position: 0px -9757px; }
.silk_magnifier_zoom_out { background-position: 0px -9775px; }
.silk_magnifier { background-position: 0px -9793px; }
.silk_magnifier_zoom_in { background-position: 0px -9811px; }
.silk_male { background-position: 0px -9829px; }
.silk_map { background-position: 0px -9847px; }
.silk_map_add { background-position: 0px -9865px; }
.silk_map_delete { background-position: 0px -9883px; }
.silk_map_edit { background-position: 0px -9901px; }
.silk_map_go { background-position: 0px -9919px; }
.silk_map_magnify { background-position: 0px -9937px; }
.silk_medal_bronze_1 { background-position: 0px -9955px; }
.silk_medal_bronze_2 { background-position: 0px -9973px; }
.silk_medal_bronze_3 { background-position: 0px -9991px; }
.silk_medal_bronze_add { background-position: 0px -10009px; }
.silk_medal_bronze_delete { background-position: 0px -10027px; }
.silk_medal_gold_1 { background-position: 0px -10045px; }
.silk_medal_gold_2 { background-position: 0px -10063px; }
.silk_medal_gold_3 { background-position: 0px -10081px; }
.silk_medal_gold_add { background-position: 0px -10099px; }
.silk_medal_gold_delete { background-position: 0px -10117px; }
.silk_medal_silver_1 { background-position: 0px -10135px; }
.silk_medal_silver_2 { background-position: 0px -10153px; }
.silk_medal_silver_3 { background-position: 0px -10171px; }
.silk_medal_silver_add { background-position: 0px -10189px; }
.silk_medal_silver_delete { background-position: 0px -10207px; }
.silk_money { background-position: 0px -10225px; }
.silk_money_add { background-position: 0px -10243px; }
.silk_money_delete { background-position: 0px -10261px; }
.silk_money_dollar { background-position: 0px -10279px; }
.silk_money_euro { background-position: 0px -10297px; }
.silk_money_pound { background-position: 0px -10315px; }
.silk_money_yen { background-position: 0px -10333px; }
.silk_monitor { background-position: 0px -10351px; }
.silk_monitor_add { background-position: 0px -10369px; }
.silk_monitor_delete { background-position: 0px -10387px; }
.silk_monitor_edit { background-position: 0px -10405px; }
.silk_monitor_error { background-position: 0px -10423px; }
.silk_monitor_go { background-position: 0px -10441px; }
.silk_monitor_lightning { background-position: 0px -10459px; }
.silk_monitor_link { background-position: 0px -10477px; }
.silk_mouse { background-position: 0px -10495px; }
.silk_mouse_add { background-position: 0px -10513px; }
.silk_mouse_delete { background-position: 0px -10531px; }
.silk_mouse_error { background-position: 0px -10549px; }
.silk_music { background-position: 0px -10567px; }
.silk_new { background-position: 0px -10585px; }
.silk_newspaper { background-position: 0px -10603px; }
.silk_newspaper_add { background-position: 0px -10621px; }
.silk_newspaper_delete { background-position: 0px -10639px; }
.silk_newspaper_go { background-position: 0px -10657px; }
.silk_newspaper_link { background-position: 0px -10675px; }
.silk_note { background-position: 0px -10693px; }
.silk_note_add { background-position: 0px -10711px; }
.silk_note_delete { background-position: 0px -10729px; }
.silk_note_edit { background-position: 0px -10747px; }
.silk_note_error { background-position: 0px -10765px; }
.silk_note_go { background-position: 0px -10783px; }
.silk_overlays { background-position: 0px -10801px; }
.silk_package { background-position: 0px -10819px; }
.silk_package_add { background-position: 0px -10837px; }
.silk_package_delete { background-position: 0px -10855px; }
.silk_package_go { background-position: 0px -10873px; }
.silk_package_green { background-position: 0px -10891px; }
.silk_package_link { background-position: 0px -10909px; }
.silk_page { background-position: 0px -10927px; }
.silk_page_add { background-position: 0px -10945px; }
.silk_page_attach { background-position: 0px -10963px; }
.silk_page_code { background-position: 0px -10981px; }
.silk_page_copy { background-position: 0px -10999px; }
.silk_page_delete { background-position: 0px -11017px; }
.silk_page_edit { background-position: 0px -11035px; }
.silk_page_error { background-position: 0px -11053px; }
.silk_page_excel { background-position: 0px -11071px; }
.silk_page_find { background-position: 0px -11089px; }
.silk_page_gear { background-position: 0px -11107px; }
.silk_page_go { background-position: 0px -11125px; }
.silk_page_green { background-position: 0px -11143px; }
.silk_page_key { background-position: 0px -11161px; }
.silk_page_lightning { background-position: 0px -11179px; }
.silk_page_link { background-position: 0px -11197px; }
.silk_page_paintbrush { background-position: 0px -11215px; }
.silk_page_paste { background-position: 0px -11233px; }
.silk_page_red { background-position: 0px -11251px; }
.silk_page_refresh { background-position: 0px -11269px; }
.silk_page_save { background-position: 0px -11287px; }
.silk_page_white { background-position: 0px -11305px; }
.silk_page_white_acrobat { background-position: 0px -11323px; }
.silk_page_white_actionscript { background-position: 0px -11341px; }
.silk_page_white_add { background-position: 0px -11359px; }
.silk_page_white_c { background-position: 0px -11377px; }
.silk_page_white_camera { background-position: 0px -11395px; }
.silk_page_white_cd { background-position: 0px -11413px; }
.silk_page_white_code { background-position: 0px -11431px; }
.silk_page_white_code_red { background-position: 0px -11449px; }
.silk_page_white_coldfusion { background-position: 0px -11467px; }
.silk_page_white_compressed { background-position: 0px -11485px; }
.silk_page_white_copy { background-position: 0px -11503px; }
.silk_page_white_cplusplus { background-position: 0px -11521px; }
.silk_page_white_csharp { background-position: 0px -11539px; }
.silk_page_white_cup { background-position: 0px -11557px; }
.silk_page_white_database { background-position: 0px -11575px; }
.silk_page_white_delete { background-position: 0px -11593px; }
.silk_page_white_dvd { background-position: 0px -11611px; }
.silk_page_white_edit { background-position: 0px -11629px; }
.silk_page_white_error { background-position: 0px -11647px; }
.silk_page_white_excel { background-position: 0px -11665px; }
.silk_page_white_find { background-position: 0px -11683px; }
.silk_page_white_flash { background-position: 0px -11701px; }
.silk_page_white_freehand { background-position: 0px -11719px; }
.silk_page_white_gear { background-position: 0px -11737px; }
.silk_page_white_get { background-position: 0px -11755px; }
.silk_page_white_go { background-position: 0px -11773px; }
.silk_page_white_h { background-position: 0px -11791px; }
.silk_page_white_horizontal { background-position: 0px -11809px; }
.silk_page_white_key { background-position: 0px -11827px; }
.silk_page_white_lightning { background-position: 0px -11845px; }
.silk_page_white_link { background-position: 0px -11863px; }
.silk_page_white_magnify { background-position: 0px -11881px; }
.silk_page_white_medal { background-position: 0px -11899px; }
.silk_page_white_office { background-position: 0px -11917px; }
.silk_page_white_paint { background-position: 0px -11935px; }
.silk_page_white_paintbrush { background-position: 0px -11953px; }
.silk_page_white_paste { background-position: 0px -11971px; }
.silk_page_white_php { background-position: 0px -11989px; }
.silk_page_white_picture { background-position: 0px -12007px; }
.silk_page_white_powerpoint { background-position: 0px -12025px; }
.silk_page_white_put { background-position: 0px -12043px; }
.silk_page_white_ruby { background-position: 0px -12061px; }
.silk_page_white_stack { background-position: 0px -12079px; }
.silk_page_white_star { background-position: 0px -12097px; }
.silk_page_white_swoosh { background-position: 0px -12115px; }
.silk_page_white_text { background-position: 0px -12133px; }
.silk_page_white_text_width { background-position: 0px -12151px; }
.silk_page_white_tux { background-position: 0px -12169px; }
.silk_page_white_vector { background-position: 0px -12187px; }
.silk_page_white_visualstudio { background-position: 0px -12205px; }
.silk_page_white_width { background-position: 0px -12223px; }
.silk_page_white_word { background-position: 0px -12241px; }
.silk_page_white_world { background-position: 0px -12259px; }
.silk_page_white_wrench { background-position: 0px -12277px; }
.silk_page_white_zip { background-position: 0px -12295px; }
.silk_page_word { background-position: 0px -12313px; }
.silk_page_world { background-position: 0px -12331px; }
.silk_paintbrush { background-position: 0px -12349px; }
.silk_paintcan { background-position: 0px -12367px; }
.silk_palette { background-position: 0px -12385px; }
.silk_paste_plain { background-position: 0px -12403px; }
.silk_paste_word { background-position: 0px -12421px; }
.silk_pencil { background-position: 0px -12439px; }
.silk_pencil_add { background-position: 0px -12457px; }
.silk_pencil_delete { background-position: 0px -12475px; }
.silk_pencil_go { background-position: 0px -12493px; }
.silk_phone { background-position: 0px -12511px; }
.silk_phone_add { background-position: 0px -12529px; }
.silk_phone_delete { background-position: 0px -12547px; }
.silk_phone_sound { background-position: 0px -12565px; }
.silk_photo { background-position: 0px -12583px; }
.silk_photo_add { background-position: 0px -12601px; }
.silk_photo_delete { background-position: 0px -12619px; }
.silk_photo_link { background-position: 0px -12637px; }
.silk_photos { background-position: 0px -12655px; }
.silk_picture { background-position: 0px -12673px; }
.silk_picture_add { background-position: 0px -12691px; }
.silk_picture_delete { background-position: 0px -12709px; }
.silk_picture_edit { background-position: 0px -12727px; }
.silk_picture_empty { background-position: 0px -12745px; }
.silk_picture_error { background-position: 0px -12763px; }
.silk_picture_go { background-position: 0px -12781px; }
.silk_picture_key { background-position: 0px -12799px; }
.silk_picture_link { background-position: 0px -12817px; }
.silk_picture_save { background-position: 0px -12835px; }
.silk_pictures { background-position: 0px -12853px; }
.silk_pilcrow { background-position: 0px -12871px; }
.silk_pill { background-position: 0px -12889px; }
.silk_pill_add { background-position: 0px -12907px; }
.silk_pill_delete { background-position: 0px -12925px; }
.silk_pill_go { background-position: 0px -12943px; }
.silk_plugin { background-position: 0px -12961px; }
.silk_plugin_add { background-position: 0px -12979px; }
.silk_plugin_delete { background-position: 0px -12997px; }
.silk_plugin_disabled { background-position: 0px -13015px; }
.silk_plugin_edit { background-position: 0px -13033px; }
.silk_plugin_error { background-position: 0px -13051px; }
.silk_plugin_go { background-position: 0px -13069px; }
.silk_plugin_link { background-position: 0px -13087px; }
.silk_printer { background-position: 0px -13105px; }
.silk_printer_add { background-position: 0px -13123px; }
.silk_printer_delete { background-position: 0px -13141px; }
.silk_printer_empty { background-position: 0px -13159px; }
.silk_printer_error { background-position: 0px -13177px; }
.silk_rainbow { background-position: 0px -13195px; }
.silk_report { background-position: 0px -13213px; }
.silk_report_add { background-position: 0px -13231px; }
.silk_report_delete { background-position: 0px -13249px; }
.silk_report_disk { background-position: 0px -13267px; }
.silk_report_edit { background-position: 0px -13285px; }
.silk_report_go { background-position: 0px -13303px; }
.silk_report_key { background-position: 0px -13321px; }
.silk_report_link { background-position: 0px -13339px; }
.silk_report_magnify { background-position: 0px -13357px; }
.silk_report_picture { background-position: 0px -13375px; }
.silk_report_user { background-position: 0px -13393px; }
.silk_report_word { background-position: 0px -13411px; }
.silk_resultset_first { background-position: 0px -13429px; }
.silk_resultset_last { background-position: 0px -13447px; }
.silk_resultset_next { background-position: 0px -13465px; }
.silk_resultset_previous { background-position: 0px -13483px; }
.silk_rosette { background-position: 0px -13501px; }
.silk_rss { background-position: 0px -13519px; }
.silk_rss_add { background-position: 0px -13537px; }
.silk_rss_delete { background-position: 0px -13555px; }
.silk_rss_go { background-position: 0px -13573px; }
.silk_rss_valid { background-position: 0px -13591px; }
.silk_ruby { background-position: 0px -13609px; }
.silk_ruby_add { background-position: 0px -13627px; }
.silk_ruby_delete { background-position: 0px -13645px; }
.silk_ruby_gear { background-position: 0px -13663px; }
.silk_ruby_get { background-position: 0px -13681px; }
.silk_ruby_go { background-position: 0px -13699px; }
.silk_ruby_key { background-position: 0px -13717px; }
.silk_ruby_link { background-position: 0px -13735px; }
.silk_ruby_put { background-position: 0px -13753px; }
.silk_script { background-position: 0px -13771px; }
.silk_script_add { background-position: 0px -13789px; }
.silk_script_code { background-position: 0px -13807px; }
.silk_script_code_red { background-position: 0px -13825px; }
.silk_script_delete { background-position: 0px -13843px; }
.silk_script_edit { background-position: 0px -13861px; }
.silk_script_error { background-position: 0px -13879px; }
.silk_script_gear { background-position: 0px -13897px; }
.silk_script_go { background-position: 0px -13915px; }
.silk_script_key { background-position: 0px -13933px; }
.silk_script_lightning { background-position: 0px -13951px; }
.silk_script_link { background-position: 0px -13969px; }
.silk_script_palette { background-position: 0px -13987px; }
.silk_script_save { background-position: 0px -14005px; }
.silk_server { background-position: 0px -14023px; }
.silk_server_add { background-position: 0px -14041px; }
.silk_server_chart { background-position: 0px -14059px; }
.silk_server_compressed { background-position: 0px -14077px; }
.silk_server_connect { background-position: 0px -14095px; }
.silk_server_database { background-position: 0px -14113px; }
.silk_server_delete { background-position: 0px -14131px; }
.silk_server_edit { background-position: 0px -14149px; }
.silk_server_error { background-position: 0px -14167px; }
.silk_server_go { background-position: 0px -14185px; }
.silk_server_key { background-position: 0px -14203px; }
.silk_server_lightning { background-position: 0px -14221px; }
.silk_server_link { background-position: 0px -14239px; }
.silk_server_uncompressed { background-position: 0px -14257px; }
.silk_shading { background-position: 0px -14275px; }
.silk_shape_align_bottom { background-position: 0px -14293px; }
.silk_shape_align_center { background-position: 0px -14311px; }
.silk_shape_align_left { background-position: 0px -14329px; }
.silk_shape_align_middle { background-position: 0px -14347px; }
.silk_shape_align_right { background-position: 0px -14365px; }
.silk_shape_align_top { background-position: 0px -14383px; }
.silk_shape_flip_horizontal { background-position: 0px -14401px; }
.silk_shape_flip_vertical { background-position: 0px -14419px; }
.silk_shape_group { background-position: 0px -14437px; }
.silk_shape_handles { background-position: 0px -14455px; }
.silk_shape_move_back { background-position: 0px -14473px; }
.silk_shape_move_backwards { background-position: 0px -14491px; }
.silk_shape_move_forwards { background-position: 0px -14509px; }
.silk_shape_move_front { background-position: 0px -14527px; }
.silk_shape_rotate_anticlockwise { background-position: 0px -14545px; }
.silk_shape_rotate_clockwise { background-position: 0px -14563px; }
.silk_shape_square { background-position: 0px -14581px; }
.silk_shape_square_add { background-position: 0px -14599px; }
.silk_shape_square_delete { background-position: 0px -14617px; }
.silk_shape_square_edit { background-position: 0px -14635px; }
.silk_shape_square_error { background-position: 0px -14653px; }
.silk_shape_square_go { background-position: 0px -14671px; }
.silk_shape_square_key { background-position: 0px -14689px; }
.silk_shape_square_link { background-position: 0px -14707px; }
.silk_shape_ungroup { background-position: 0px -14725px; }
.silk_shield { background-position: 0px -14743px; }
.silk_shield_add { background-position: 0px -14761px; }
.silk_shield_delete { background-position: 0px -14779px; }
.silk_shield_go { background-position: 0px -14797px; }
.silk_sitemap { background-position: 0px -14815px; }
.silk_sitemap_color { background-position: 0px -14833px; }
.silk_sound { background-position: 0px -14851px; }
.silk_sound_add { background-position: 0px -14869px; }
.silk_sound_delete { background-position: 0px -14887px; }
.silk_sound_low { background-position: 0px -14905px; }
.silk_sound_mute { background-position: 0px -14923px; }
.silk_sound_none { background-position: 0px -14941px; }
.silk_spellcheck { background-position: 0px -14959px; }
.silk_sport_8ball { background-position: 0px -14977px; }
.silk_sport_basketball { background-position: 0px -14995px; }
.silk_sport_football { background-position: 0px -15013px; }
.silk_sport_golf { background-position: 0px -15031px; }
.silk_sport_raquet { background-position: 0px -15049px; }
.silk_sport_shuttlecock { background-position: 0px -15067px; }
.silk_sport_soccer { background-position: 0px -15085px; }
.silk_sport_tennis { background-position: 0px -15103px; }
.silk_star { background-position: 0px -15121px; }
.silk_status_away { background-position: 0px -15139px; }
.silk_status_busy { background-position: 0px -15157px; }
.silk_status_offline { background-position: 0px -15175px; }
.silk_status_online { background-position: 0px -15193px; }
.silk_stop { background-position: 0px -15211px; }
.silk_style { background-position: 0px -15229px; }
.silk_style_add { background-position: 0px -15247px; }
.silk_style_delete { background-position: 0px -15265px; }
.silk_style_edit { background-position: 0px -15283px; }
.silk_style_go { background-position: 0px -15301px; }
.silk_sum { background-position: 0px -15319px; }
.silk_tab { background-position: 0px -15337px; }
.silk_tab_add { background-position: 0px -15355px; }
.silk_tab_delete { background-position: 0px -15373px; }
.silk_tab_edit { background-position: 0px -15391px; }
.silk_tab_go { background-position: 0px -15409px; }
.silk_table { background-position: 0px -15427px; }
.silk_table_add { background-position: 0px -15445px; }
.silk_table_delete { background-position: 0px -15463px; }
.silk_table_edit { background-position: 0px -15481px; }
.silk_table_error { background-position: 0px -15499px; }
.silk_table_gear { background-position: 0px -15517px; }
.silk_table_go { background-position: 0px -15535px; }
.silk_table_key { background-position: 0px -15553px; }
.silk_table_lightning { background-position: 0px -15571px; }
.silk_table_link { background-position: 0px -15589px; }
.silk_table_multiple { background-position: 0px -15607px; }
.silk_table_refresh { background-position: 0px -15625px; }
.silk_table_relationship { background-position: 0px -15643px; }
.silk_table_row_delete { background-position: 0px -15661px; }
.silk_table_row_insert { background-position: 0px -15679px; }
.silk_table_save { background-position: 0px -15697px; }
.silk_table_sort { background-position: 0px -15715px; }
.silk_tag { background-position: 0px -15733px; }
.silk_tag_blue { background-position: 0px -15751px; }
.silk_tag_blue_add { background-position: 0px -15769px; }
.silk_tag_blue_delete { background-position: 0px -15787px; }
.silk_tag_blue_edit { background-position: 0px -15805px; }
.silk_tag_green { background-position: 0px -15823px; }
.silk_tag_orange { background-position: 0px -15841px; }
.silk_tag_pink { background-position: 0px -15859px; }
.silk_tag_purple { background-position: 0px -15877px; }
.silk_tag_red { background-position: 0px -15895px; }
.silk_tag_yellow { background-position: 0px -15913px; }
.silk_telephone { background-position: 0px -15931px; }
.silk_telephone_add { background-position: 0px -15949px; }
.silk_telephone_delete { background-position: 0px -15967px; }
.silk_telephone_edit { background-position: 0px -15985px; }
.silk_telephone_error { background-position: 0px -16003px; }
.silk_telephone_go { background-position: 0px -16021px; }
.silk_telephone_key { background-position: 0px -16039px; }
.silk_telephone_link { background-position: 0px -16057px; }
.silk_television { background-position: 0px -16075px; }
.silk_television_add { background-position: 0px -16093px; }
.silk_television_delete { background-position: 0px -16111px; }
.silk_text_align_center { background-position: 0px -16129px; }
.silk_text_align_justify { background-position: 0px -16147px; }
.silk_text_align_left { background-position: 0px -16165px; }
.silk_text_align_right { background-position: 0px -16183px; }
.silk_text_allcaps { background-position: 0px -16201px; }
.silk_text_bold { background-position: 0px -16219px; }
.silk_text_columns { background-position: 0px -16237px; }
.silk_text_dropcaps { background-position: 0px -16255px; }
.silk_text_heading_1 { background-position: 0px -16273px; }
.silk_text_heading_2 { background-position: 0px -16291px; }
.silk_text_heading_3 { background-position: 0px -16309px; }
.silk_text_heading_4 { background-position: 0px -16327px; }
.silk_text_heading_5 { background-position: 0px -16345px; }
.silk_text_heading_6 { background-position: 0px -16363px; }
.silk_text_horizontalrule { background-position: 0px -16381px; }
.silk_text_indent { background-position: 0px -16399px; }
.silk_text_indent_remove { background-position: 0px -16417px; }
.silk_text_italic { background-position: 0px -16435px; }
.silk_text_kerning { background-position: 0px -16453px; }
.silk_text_letter_omega { background-position: 0px -16471px; }
.silk_text_letterspacing { background-position: 0px -16489px; }
.silk_text_linespacing { background-position: 0px -16507px; }
.silk_text_list_bullets { background-position: 0px -16525px; }
.silk_text_list_numbers { background-position: 0px -16543px; }
.silk_text_lowercase { background-position: 0px -16561px; }
.silk_text_padding_bottom { background-position: 0px -16579px; }
.silk_text_padding_left { background-position: 0px -16597px; }
.silk_text_padding_right { background-position: 0px -16615px; }
.silk_text_padding_top { background-position: 0px -16633px; }
.silk_text_replace { background-position: 0px -16651px; }
.silk_text_signature { background-position: 0px -16669px; }
.silk_text_smallcaps { background-position: 0px -16687px; }
.silk_text_strikethrough { background-position: 0px -16705px; }
.silk_text_subscript { background-position: 0px -16723px; }
.silk_text_superscript { background-position: 0px -16741px; }
.silk_text_underline { background-position: 0px -16759px; }
.silk_text_uppercase { background-position: 0px -16777px; }
.silk_textfield { background-position: 0px -16795px; }
.silk_textfield_add { background-position: 0px -16813px; }
.silk_textfield_delete { background-position: 0px -16831px; }
.silk_textfield_key { background-position: 0px -16849px; }
.silk_textfield_rename { background-position: 0px -16867px; }
.silk_thumb_down { background-position: 0px -16885px; }
.silk_thumb_up { background-position: 0px -16903px; }
.silk_tick { background-position: 0px -16921px; }
.silk_time { background-position: 0px -16939px; }
.silk_time_add { background-position: 0px -16957px; }
.silk_time_delete { background-position: 0px -16975px; }
.silk_time_go { background-position: 0px -16993px; }
.silk_timeline_marker { background-position: 0px -17011px; }
.silk_transmit { background-position: 0px -17029px; }
.silk_transmit_add { background-position: 0px -17047px; }
.silk_transmit_blue { background-position: 0px -17065px; }
.silk_transmit_delete { background-position: 0px -17083px; }
.silk_transmit_edit { background-position: 0px -17101px; }
.silk_transmit_error { background-position: 0px -17119px; }
.silk_transmit_go { background-position: 0px -17137px; }
.silk_tux { background-position: 0px -17155px; }
.silk_user { background-position: 0px -17173px; }
.silk_user_add { background-position: 0px -17191px; }
.silk_user_comment { background-position: 0px -17209px; }
.silk_user_delete { background-position: 0px -17227px; }
.silk_user_edit { background-position: 0px -17245px; }
.silk_user_female { background-position: 0px -17263px; }
.silk_user_go { background-position: 0px -17281px; }
.silk_user_gray { background-position: 0px -17299px; }
.silk_user_green { background-position: 0px -17317px; }
.silk_user_orange { background-position: 0px -17335px; }
.silk_user_red { background-position: 0px -17353px; }
.silk_user_suit { background-position: 0px -17371px; }
.silk_vcard { background-position: 0px -17389px; }
.silk_vcard_add { background-position: 0px -17407px; }
.silk_vcard_delete { background-position: 0px -17425px; }
.silk_vcard_edit { background-position: 0px -17443px; }
.silk_vector { background-position: 0px -17461px; }
.silk_vector_add { background-position: 0px -17479px; }
.silk_vector_delete { background-position: 0px -17497px; }
.silk_wand { background-position: 0px -17515px; }
.silk_weather_clouds { background-position: 0px -17533px; }
.silk_weather_cloudy { background-position: 0px -17551px; }
.silk_weather_lightning { background-position: 0px -17569px; }
.silk_weather_rain { background-position: 0px -17587px; }
.silk_weather_snow { background-position: 0px -17605px; }
.silk_weather_sun { background-position: 0px -17623px; }
.silk_webcam { background-position: 0px -17641px; }
.silk_webcam_add { background-position: 0px -17659px; }
.silk_webcam_delete { background-position: 0px -17677px; }
.silk_webcam_error { background-position: 0px -17695px; }
.silk_world { background-position: 0px -17713px; }
.silk_world_add { background-position: 0px -17731px; }
.silk_world_delete { background-position: 0px -17749px; }
.silk_world_edit { background-position: 0px -17767px; }
.silk_world_go { background-position: 0px -17785px; }
.silk_world_link { background-position: 0px -17803px; }
.silk_wrench { background-position: 0px -17821px; }
.silk_wrench_orange { background-position: 0px -17839px; }
.silk_xhtml { background-position: 0px -17857px; }
.silk_xhtml_add { background-position: 0px -17875px; }
.silk_xhtml_delete { background-position: 0px -17893px; }
.silk_xhtml_go { background-position: 0px -17911px; }
.silk_xhtml_valid { background-position: 0px -17929px; }
.silk_zoom { background-position: 0px -17947px; }
.silk_zoom_in { background-position: 0px -17965px; }
.silk_zoom_out { background-position: 0px -17983px; }
